.track {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  color: black;
  background-color: rgb(234, 194, 234);
  padding-left: 0.5rem;
  margin: 0.3rem 1rem;
  text-align: left;
}

.add-btn {
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  align-self: right;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
}

.add-btn:hover {
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 0.9rem;
  }

.info {
  font-weight: lighter;
  font-size: 0.7rem;
}
