#search-bar {
  display: block;
}

#search-term {
  width: 20rem;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 0.5rem auto;
}

#search-btn {
  color: white;
  background-color: rgb(44, 3, 52);
  padding: 1rem;
  border: 1px solid rgb(109, 7, 130);
  border-radius: 50px;
  margin-bottom: 1rem;
  width: 10rem;
  font-size: 1rem;
}

#search-btn:hover {
  cursor: pointer;
  background-color:rgb(109, 7, 130);
}