#playlist {
  display: inline-block;
  width: 40%;
  min-height: 30rem;
  background-color: rgb(44, 3, 52);
  margin: 0 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

#save-btn {
  color: white;
  background-color: rgb(135, 7, 160);
  padding: 1rem;
  border: 1px solid black;
  border-radius: 50px;
  margin: 1rem 0;
  width: 15rem;
  font-size: 1rem;
}


#save-btn:hover {
  cursor: pointer;
  background-color:rgb(109, 7, 130)
}